.container.main{
  margin-top: 20px;
}
.pagination span{
  display: inline-block;
  margin: 5px;
}
.edit-employee-image{
  margin: 0; margin-top: 5px;
}

.employee-table .btn{
  margin-bottom: 2px;
}
